body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  /* justify-content: start; */
  flex-wrap: wrap;
  height: 450px;
  width: 450px;
  /* overflow: hidden; */
  border: 2px solid black;
  
}

.gridSquare {
  /* width: 56.25px; */
  /* height: 56.25px; */
  flex: 1 0 12%;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  border: 1px solid black;
  background-color: goldenrod;
}








/* ************************************************************************************ */

/* .gridSquare::before {
  content: "";
  display: block;
  padding-top: 100%;
} */

/* If on Laptop or Desktop, show the text within the p element that has the class .desktop in it */
/* @media (pointer: fine) {
  .touch {
    display: none;
  }
  .desktop {
    display: flex;
  }
} */

/* If on touchscreen, show the text within the p element that has the class .touch in it */
/* @media (pointer: coarse) {
  .desktop {
    display: none;
  }
  .touch {
    display: flex;
  }
} */

/* Layouts for different screen sizes */

/* smartphones, iPhone, portrait 480x320 phones */
/* @media (min-width:320px)  {  
  .container {
     width: 300px;
     height: 300px;
  }
 } */

 /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/*  @media (min-width:481px)  { 
   .container {
     width: 300px;
     height: 300px;
    }
 } */

 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
 @media (min-width:641px)  {  
   .container {
     width: 350px;
     height: 350px;
   }
   .gridSquare {
     flex: 1 0 11%;
   }
 }

 /* tablet, landscape iPad, lo-res laptops ands desktops */
/*  @media (min-width:961px)  { 
   .container {
     width: 350px;
     height: 350px;
   }
 } */

 /* big landscape tablets, laptops, and desktops */ 
/*  @media (min-width:1025px) { 
   .container {
     width: 350px;
     overflow: hidden;
    }
 } */

 /* hi-res laptops and desktops */ 
/*  @media (min-width:1281px) { 
   .container {
     width: 450px;
     height: 450px;
     overflow: hidden;
    }
 } */