body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  
}


.gridSquare {
  background-color: goldenrod;
  /* Add a border without affecting the size of .gridSquare */
  outline: 1px solid black;
}

/* If on Laptop or Desktop, show the text within the p element that has the class .desktop in it */
@media (pointer: fine) {
  .touch {
    display: none;
  }
  .desktop {
    display: flex;
  }
}

/* If on touchscreen, show the text within the p element that has the class .touch in it */
@media (pointer: coarse) {
  .desktop {
    display: none;
  }
  .touch {
    display: flex;
  }
}

/* Layouts for different screen sizes */

/* smartphones, iPhone, portrait 480x320 phones, portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:320px)  { 
  .container {
    width: 300px;
    height: 300px;
  }
}

/* portrait tablets, portrait iPads, landscape e-readers, landscape 800x480 or 854x480 phones, tablets, landscape iPads, lo-res laptops and lo-res desktops */
@media (min-width:961px)  { 
  .container {
    width: 350px;
    height: 350px;
  }
}

/* big landscape tablets, laptops and desktops, hi-res laptops, hi - res desktops */ 
@media (min-width:1281px) { 
  .container {
    width: 500px;
    height: 500px;
  }
}



